# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Large files
*.mp4
*.zip

# Logs
*.log
npm-debug.log*
